@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;900&family=Poppins:ital@1&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 48%;
  left: 44%;
  width: 100%;
  height: 100vh;
}
.container {
  /* height: 100vh; */
  display: flex;
}
.card {
  width: 100%;
}
.card img {
  width: 100%;
}
section {
  height: 100%;
  width: 100%;
}
.masthead {
  height: 50vh;
  min-height: 500px;
  background-image: linear-gradient(to right, #faeedd 0%, #f5c6b6 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heading_line {
  color: #ff845c;
  -webkit-text-fill-color: #f0edec; 
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: #ff845c;
}
.search{
  position: sticky;
  top: 0;
}
.shadow {
  box-shadow: 0 .5rem 1rem #f7d9cf!important;
}
.scroll {
  z-index: 11;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: grid;
  justify-content: center;
  place-items: center;
}
.svg{
  width: 70%!important;
}